@import './base.css';

body, html {
  height: calc(100vh - 5rem);
  width: 100vw;
}

.active, .exact-active {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid white;
}

.active::after, a::after {
  content: '';

  height: 100%;
  display: block;

  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
}

.active:hover::after, a:hover::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  border: none;
}

.active, .active:hover {
  color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.exact-active {
  color: rgba(255, 255, 255, 0.87);
}

a, a:hover {
  color: rgba(255, 255, 255, 0.87);
}