@import './base.css';

body, html {
  height: calc(100vh - 5rem);
  width: 100vw;
  background-color: lightblue;
}

.active, .exact-active {
  text-decoration: none;
  border: none;

  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
  border: none;

  width: 100%;
  height: 100%;

  display: block;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;

}

.active::after, a::after {
  content: '';

  width: 100%;
  height: 100%;

  display: block;

  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  transform: scaleX(0);  
  transition: transform 150ms ease-in-out;
}

.active:hover::after, a:hover::after {
  transform: scaleX(1);
}